In [7]:
import pandas as pd
from collections import Counter

In [5]:
df = pd.read_csv('Jobs_Data.csv')

df.head()

,company,description,focus,jobTitle,link,location,postedDate,remote,salaryCurrency,salaryRange,type,yearsOfExperience
0,Novovu,[b]We are looking for a talented frontend web ...,Frontend Developer,"Frontend Developer (HTML, CSS, and JS) - Remote",https://lensa.com/frontend-developer-html-css-...,"Fort Washington, PA, USA","Jul 14, 2023 8:00 am",100% Remote,$,[],Full-time,0-1 year
1,Coalition Technologies,[heading2]WHY YOU SHOULD APPLY:[/heading2]\r\n...,Frontend Developer,Front End Developer,https://www.virtualvocations.com/job/remote-fr...,NaN,"Jul 14, 2023 8:01 am",100% Remote,$,"[15,35]",Full-time,0-1 year
2,Get It Recruit - Information Technology,[heading2]Job Description[/heading2]\r\n\r\nAs...,Backend Developer,Software Developer - Remote | WFH,https://www.linkedin.com/jobs/view/software-de...,"King George, VA 22485, USA","Jul 14, 2023 8:03 am",100% In-Office,$,"[72000,182000]",Full-time,0-1 year
3,SiLo,"[b]Based in Downtown Nashville, Simple Logisti...",Fullstack Developer,Junior .NET Full Stack Developer,https://jobs.wjhl.com/jobs/junior-.net-full-st...,"Nashville, TN, USA","Jul 14, 2023 8:04 am",100% In-Office,$,[],Full-time,0-1 year
4,eDiligence,[center][size=4][b]Entry Level Full Stack Deve...,Fullstack Developer,Entry Level Software Developer,https://jooble.org/jdp/-2571818786162603564/En...,"Los Angeles, CA, USA","Jul 14, 2023 8:05 am",Hybrid Work,$,[],Full-time,0-1 year

In [6]:
df.describe()

,company,description,focus,jobTitle,link,location,postedDate,remote,salaryCurrency,salaryRange,type,yearsOfExperience
count,1426,1422,1426,1426,1426,1057,1426,1426,1424,1426,1426,1426
unique,943,1202,85,845,1244,367,895,3,1,261,3,4
top,Guidehouse,[b]Position Summary...[/b]\r\n\r\nWhat you'll ...,Data Analyst,Data Analyst,https://www.ziprecruiter.com/c/Reesby/Job/UI-U...,United States,"Aug 1, 2023 8:00 pm",Hybrid Work,$,[],Full-time,0-1 year
freq,27,15,210,48,10,54,17,595,1424,1032,1353,879

In [18]:
countCompany = Counter(df['company'])

max(countCompany.values())

27

In [14]:
def get_key_by_value(dictionary, target_value):
    for key, value in dictionary.items():
        if value == target_value:
            return key
    return None

In [15]:
get_key_by_value(countCompany, 27)

'Guidehouse'

Most common company is Guidehouse with only 27 occurences, so this is not a significant feature to look at, especially if broken down by job title.

In [20]:
Counter(df['focus'])

Counter({'Frontend Developer': 82,
         'Backend Developer': 92,
         'Fullstack Developer': 189,
         'UX Designer': 114,
         'Data Analyst': 210,
         'Data Scientist': 100,
         'IT Support': 114,
         'Penetration Tester': 50,
         'Security Analyst': 155,
         'UI Designer': 56,
         'Outbound Sales Representative': 1,
         'UI Designer , UX Designer': 24,
         'Frontend Developer , Backend Developer': 2,
         'Backend Developer , Business Analyst': 1,
         'Fullstack Developer , Scrum': 26,
         'Fullstack Developer , Project Management': 2,
         'UX Designer , UX Researcher': 5,
         'UI Designer , Scrum': 4,
         'UI Designer , Frontend Developer': 1,
         'UI Designer , UX Researcher , UX Designer , Product Manager': 1,
         'UI Designer , Strategy': 1,
         'UI Designer , UX Designer , Product Manager': 3,
         'Data Analyst , Finance , Business Analyst': 1,
         'Data Analyst , Business Analyst': 8,
         'Data Analyst , Data Scientist': 34,
         'Data Analyst , Product Manager , Data Engineer': 1,
         'Data Analyst , Finance , Data Scientist': 1,
         'Data Analyst , Finance': 24,
         'Data Analyst , Strategy': 1,
         'Data Analyst , Scrum': 2,
         'Data Analyst , Operations Analyst': 1,
         'Data Scientist , Data Analyst': 31,
         'Data Scientist , Finance , Data Engineer': 1,
         'Data Scientist , Finance': 3,
         'Strategy , IT Support': 1,
         'Finance , IT Support': 1,
         'Security Analyst , Scrum': 1,
         'Fullstack Developer , Strategy': 2,
         'Fullstack Developer , DevOps Engineer': 1,
         'UX Designer , Strategy': 2,
         'Data Analyst , Data Engineer': 8,
         'Data Scientist , Data Analyst , Finance': 4,
         'Security Analyst , IT Support': 8,
         'Penetration Tester , Customer Success': 1,
         'Security Analyst , Operations Analyst': 2,
         'Backend Developer , UX Designer , Product Manager': 1,
         'Backend Developer , Finance , Business Analyst': 1,
         'Fullstack Developer , UX Designer , Product Manager': 1,
         'UX Designer , Product Manager': 2,
         'Backend Developer , Product Manager': 1,
         'Backend Developer , Project Management , Scrum , Data Engineer': 1,
         'Fullstack Developer , UI Designer': 1,
         'Fullstack Developer , IT Support': 1,
         'Data Analyst , Customer Success , Data Engineer': 1,
         'Data Analyst , Customer Success': 2,
         'Data Scientist , Data Analyst , Business Analyst': 1,
         'Data Scientist , Data Engineer': 2,
         'IT Support , Finance': 1,
         'Backend Developer , Fullstack Developer': 1,
         'IT Support , Project Management': 1,
         'Security Analyst , Project Management': 2,
         'Security Analyst , Network Engineer': 3,
         'Backend Developer , Frontend Developer': 1,
         'Fullstack Developer , Strategy , Data Engineer': 5,
         'UX Designer , UI Designer': 4,
         'UX Designer , Customer Success': 1,
         'Data Analyst , Finance , Data Engineer': 1,
         'Data Analyst , Project Management': 1,
         'Data Scientist , Strategy': 1,
         'Data Scientist , Data Analyst , Customer Success': 1,
         'Data Scientist , Data Analyst , Data Engineer': 1,
         'Backend Developer , Scrum': 1,
         'UX Designer , Product Manager , Data Scientist': 1,
         'UX Designer , Scrum': 1,
         'UI Designer , UX Designer , Scrum': 2,
         'Data Analyst , Data Engineer , Data Scientist': 1,
         'Data Scientist , Scrum': 1,
         'Fullstack Developer , Data Engineer': 1,
         'UX Designer , Finance': 1,
         'Data Analyst , Strategy , Data Engineer , Data Scientist': 1,
         'Data Analyst , Business Analyst , Data Engineer': 1,
         'Data Scientist , Data Analyst , Strategy': 1,
         'Data Scientist , Data Analyst , Finance , Data Engineer': 1,
         'Penetration Tester , Security Analyst': 1,
         'Security Analyst , Strategy': 1})